.intro {
  background-color: #4361ee;
}

.intro h2,
.intro p {
    padding: 1rem;
    color: white;
    text-align: center;
}

.intro p {
    font-size: 0.7rem;
}

.projetTitle {
    color: #4c69ef;
}
.projets h3  {
      text-align: center;
      color: #4462ee;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10vw;
    margin-right: 10vw;
}

.card {
  
    min-width: 30%;
    display: flex;
    flex-direction: column;
    margin : 0.5rem;
    height: 150px;
    justify-content: flex-end;
}

.card h4 {
    color : #aa2a61;
    margin : 0;
}

.card p {
    color: white;
    margin: 0.2;
}

.pharma{
    background-image: url("https://picsum.photos/id/237/300/150");
}

.book {
     background-image: url("https://picsum.photos/id/235/300/150");
}

.bread {
    background-image: url("https://picsum.photos/id/239/300/150");
}

.insti {
     background-image: url("https://picsum.photos/id/236/300/150");
}

.festi {
    background-image: url("https://picsum.photos/id/222/300/150");
}
